<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD Application</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">HOME</a></li>
            
            
       
            <li><a href="{% url 'sign-up' %}">REGISTRARSE</a></li>
            <li><a href="{% url 'ingresar' %}">INGRESAR</a></li>

            
            {% if user.is_authenticated %}
            <li><a href="{% url 'log-out' %}">SALIR</a></li>
            <li><a href="{% url 'tareas_view' %}">TAREAS</a></li>
            <li><a href="{% url 'task_create' %}">NUEVA TAREA</a></li>
            {% endif %}
       
       
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>